        
        <head>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
            <script type="text/javascript" src="static/clappr-playback-rate-plugin.js"></script>
            <script>window.PlaybackRatePlugin = window['clappr-playback-rate-plugin'].default</script>
        </head>

<body>
            <div id="player"></div>
            <script>
                 var player = new Clappr.Player({source: "{{m3u8_url}}", parentId: "#player", plugins: {'core': [PlaybackRatePlugin]}});
                 var frag = "";
                 player.play();

				 player.core.getCurrentPlayback()._hls.on('hlsFragChanged', function(e, data) {
				     frag = data['frag']._url.match(/index(\d+).ts/)[1];
                     elem = document.getElementById('curr');
                         elem.innerText = frag;
				 });

                 var offset = 0;
                 function set_start(){
                   elem = document.getElementById('start');
                   elem.value = frag;
                 }

                 function set_end(){
                   elem = document.getElementById('end');
                   elem.value = frag;
                 }

            </script>
            <a href="#" onclick="set_start()">start</a>
            <a href="#" onclick="set_end()">end</a>
            <div id="curr"></div>
            <form method='post' action='/slice' target="_blank">
               <input type='text' name='start' id='start' value=''>
               <input type='text' name='end' id='end' value=''>
               <input type='submit' value='submit'>
            </form>
            <form method='post' action='/stop'>
               <input type='submit' value='stop'>
            </form>
        </body>
